@using HotelReservation.Models.DTO
@model IEnumerable<HotelReservation.Models.DTO.HotelRoomModel>

@{
    ViewData["Title"] = "FilterRooms";
    decimal total = 0;

    @functions {
        public string GetRate(HotelRoomModel item, int adultCount, int childCount)
        {

            if (adultCount == 1 && childCount == 0)
            {              
                return $"{item.SingleRate}";
            }
            else if (adultCount == 1 && childCount == 1)
            {
                if (item.ExceptionCase)
                {
                    return $"{item.DoubleRate}";
                }
                return $"{item.SingleRate+item.ChildRate}";
            }
            else if (adultCount == 2 && childCount == 0)
            {
                return $"{item.DoubleRate}";
            }
            else if (adultCount == 3 && childCount == 0)
            {
                return $"{item.TripleRate}";
            }
          
            else if (adultCount >= 2 && childCount > 0)
            {
                decimal adjustedRate = item.SingleRate + adultCount * item.AdultRate + childCount * item.ChildRate;
                return $"{adjustedRate}";
            }
            else
            {
                return "Rate not available";
            }
        }
    }
}
<style>
    .Desc {
        border: 2px solid;
        margin-top: 2%;
    }

    .ParentBox, .FilterBlock {
        display: flex;
    }

    .block2 {
        margin-left: 20%;
        margin-top: 2%;
    }

    .block3 {
        float: left;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 2%;
    }

    .container {
        overflow: hidden;
    }

    .days-container {
        display: flex;
        flex-direction: row;
        /* Additional styles as needed */
    }

    .days {
        margin-left: 10px;
    }

</style>
<div class="row">
    <div class="col-sm-8">

        <h1>Available Rooms</h1>

    </div>
    <div class="col-sm-4">

        <h5 class="filterProp">For @UniversalFilterValue.Adult Adult And @UniversalFilterValue.Child Child Price Would Be </h5>

    </div>
</div>

<div>

    @foreach (var item in Model)
    {
        <div class="Desc">
            <div class="inner-container ParentBox">
                <div class="block1">
                    <img src="~/images/RoomImages/@item.RoomImage" alt="Not Found" style="width:300px" />
                </div>

                <div class="block2">
                    <h5 class="card-title">@item.RoomType</h5>
                    <p class="card-text">@item.Hotel.Rating Star</p>
                    <p class="card-text">@item.Hotel.HotelName</p>
                    <p class="card-text">@item.Hotel.HotelAddress</p>
                    <p class="card-text">@item.Description</p>
                    <div class="days-container">
                        @{
                            DateTime currentDate = UniversalFilterValue.CheckIn; 
                            while (currentDate <= UniversalFilterValue.CheckOut)
                            {
                                <div class="days">
                                    <p>@currentDate.ToString("ddd") </p>
                                    <p>@currentDate.ToString("dd-MM-yy")</p>
                                    @{
                                        bool isBlackoutDate = item.BlackoutDates.Any(blackoutDate => blackoutDate.Date.Date == currentDate.Date);
                                        if (!isBlackoutDate)
                                        {
                                           
                                                var rate = GetRate(item, UniversalFilterValue.Adult, UniversalFilterValue.Child);
                                                
                                                total += decimal.Parse(rate);
                                                <p class="card-text"><small class="text-muted">@rate /-</small></p>
                                            
                                        }
                                        else
                                        {
                                            <p>N/A</p>
                                        }
                                    }
                                </div>
                                currentDate = currentDate.AddDays(1); 
                            }
                        }
                    </div>
                </div>

                <div class="block3">
                    <p>Total Amount</p>
                    <p>@total</p> 
                    @{
                        total = 0;
                    }
                    <button>Contact Us</button>
                </div>

            </div>
        </div>
    }


</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
