@using HotelReservation.Models.DTO
@model IEnumerable<HotelReservation.Models.DTO.HotelDetailsModel>
<style>
    <link rel="stylesheet" href="~/css/site.css" />
</style>
<div class="container" id="HotelDisplay">
@foreach (var item in Model)
{
        var room = item.RoomDetails;
        <div class="OuterBlock">
        <div class="inner-container ParentBox">

            <div class="block1">
                    <img src="~/images/HotelImages/@item.HotelImage" alt="Not Found" style="width:300px " />
            </div>

            <div class="block2">
                    <a asp-action="FilterRooms" asp-controller="Home" asp-route-id="@item.HotelId">   <h5 class="card-title">@item.HotelName</h5> </a>
                <input asp-for="@item.HotelId" name="HotelId" type="hidden" value="@item.HotelId" class="hotel-id" />

                    <h5>Rating @item.Rating Star</h5>
                    <p class="card-text">@item.HotelAddress</p>
                    <p>@item.HotelDescription</p>
            </div>

            <div class="block3">
                <p class="card-text"><small class="text-muted">Min. Price</small></p>

                    @{
                        if (item.RoomDetails != null && item.RoomDetails.Any())
                        {
                            var firstRoomPrice = item.RoomDetails.FirstOrDefault();
                            var minPrice = item.RoomDetails.SelectMany(x => x.DateRanges).Where(x => 
                                (x.DateFrom <= UniversalFilterValue.CheckOut && x.DateTo >= UniversalFilterValue.CheckIn)).
                                Min(x=>x.SingleRate);

                            if (minPrice != null)
                            {
                                <p class="card-text">@minPrice Rs</p>
                            }
                            else
                            {
                                <p class="card-text">No room rate available</p>
                            }
                        }
                       
                    
                    else
                    {
                            <p class="card-text">No room rate available</p>
                    }
                }

                <p>per night</p>
                <button>Contact Us</button>
            </div>



        </div>
    </div>
}
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>


