@using HotelReservation.Models.DTO
@model IEnumerable<HotelReservation.Models.DTO.HotelDetailsModel>
<style>
    .OuterBlock {
        border: 2px solid;
        margin-top: 2%;
    }

    .ParentBox, .FilterBlock {
        display: flex;
    }

    .block2 {
        margin-left: 20%;
        margin-top: 2%;
    }

    .block3 {
        float: left;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 2%;
    }

    .CheckBtn {
        margin-top: 1.8%;
    }

    .container {
        overflow: hidden;
    }
</style>
<div class="container" id="HotelDisplay">
@foreach (var item in Model)
{
        var room = item.RoomDetails;
        <div class="OuterBlock">
        <div class="inner-container ParentBox">

            <div class="block1">
                    <img src="~/images/HotelImages/@item.HotelImage" alt="Not Found" style="width:300px " />
            </div>

            <div class="block2">
                    <a asp-action="FilterRooms" asp-controller="Home" asp-route-id="@item.HotelId">   <h5 class="card-title">@item.HotelName</h5> </a>
                <input asp-for="@item.HotelId" name="HotelId" type="hidden" value="@item.HotelId" class="hotel-id" />

                    <h5>Rating @item.Rating Star</h5>
                    <p class="card-text">@item.HotelAddress</p>
                    <p>@item.HotelDescription</p>
            </div>

            <div class="block3">
                <p class="card-text"><small class="text-muted">Min. Price</small></p>

                @{
                        if (item.RoomDetails != null && item.RoomDetails.Any())
                    {
                            var firstRoomPrice = item.RoomDetails.FirstOrDefault();
                        if (firstRoomPrice != null && firstRoomPrice.DateRanges.Any())
                        {
                            var topRoom = firstRoomPrice.DateRanges.FirstOrDefault();
                            if (topRoom != null)
                            {
                                    <p class="card-text">@topRoom.SingleRate Rs</p>
                            }
                            else
                            {
                                    <p class="card-text">No room rate available</p>
                            }
                        }
                        else
                        {
                                <p class="card-text">No room rate available</p>
                        }
                    }
                    else
                    {
                            <p class="card-text">No room rate available</p>
                    }
                }

                <p>per night</p>
                <button>Contact Us</button>
            </div>



        </div>
    </div>
}
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@* <script src="~/js/HomeIndex.js"></script> *@

@* <script>
    $(document).ready(function () {
        $('.ParentBox').on('click', function () {
            var hotelId = $(this).find('.hotel-id').val();
            console.log(hotelId);
            $.ajax({
                url: '/Home/FilterRooms',
                type: 'POST',
                data: { hotelId: hotelId },
                success: function (response) {
                   
                    console.log(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
    });

</script> *@