@using HotelReservation.Models.DTO
@model IEnumerable<HotelReservation.Models.DTO.HotelRoomModel>

@{
    ViewData["Title"] = "FilterRooms";
    decimal total = 0;

    @functions {
        public string GetRate(int adultCount, int childCount, RoomDateRangeModel dateRange)
        {
            if (adultCount == 1 && childCount == 0)
            {
                return $"{dateRange.SingleRate}";
            }
            else if (adultCount == 1 && childCount == 1)
            {
                if (dateRange.ExceptionCase)
                {
                    return $"{dateRange.DoubleRate}";
                }
                return $"{dateRange.SingleRate + dateRange.ChildRate}";
            }
            else if (adultCount == 2 && childCount == 0)
            {
                return $"{dateRange.DoubleRate}";
            }
            else if (adultCount == 3 && childCount == 0)
            {
                return $"{dateRange.TripleRate}";
            }
            else if (adultCount > 3 || childCount == 0)
            {
                return $"{dateRange.TripleRate + ((adultCount-3) * dateRange.AdultRate) + childCount * dateRange.ChildRate}";
            }
            else if (adultCount >= 2 && childCount > 0)
            {
                decimal? adjustedRate = dateRange.SingleRate + adultCount * dateRange.AdultRate + childCount * dateRange.ChildRate;
                return $"{adjustedRate}";
            }
            else
            {
                return "Rate not available";
            }
        }
    }

}
<style>
    .Desc {
        border: 2px solid;
        margin-top: 2%;
    }

    .ParentBox, .FilterBlock {
        display: flex;

    }

    .block2 {
        margin-left: 20%;
        margin-top: 2%;
        
    }

    .block3 {
        float: left;
        margin-left: auto;
        margin-right: 20px;
        margin-top: 2%;
        
    }

    .container {
        overflow: auto;
    }


    .days-container {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        height:35%;
        overflow-y: scroll;
    }

    .days-container .days{
        margin-left:2%;
    }

        
    

    .days {
        margin-left: 10px;
        
    }

</style>
<div class="row">
    <div class="col-sm-8">

        <h1>Available Rooms</h1>

    </div>
    <div class="col-sm-4">

        <h5 class="filterProp">For @UniversalFilterValue.Adult Adult And @UniversalFilterValue.Child Child Price Would Be </h5>

    </div>
</div>

<div>

    @foreach (var item in Model)
    {
        <div class="Desc">
            <div class="inner-container ParentBox">
                <div class="block1">
                    <img src="~/images/RoomImages/@item.RoomImage" alt="Not Found" style="width:300px" />
                </div>

                <div class="block2">
                   @*  <div class="Ablock"></div>
                    <div class="Ablock"></div> *@
                    <h5 class="card-title">@item.RoomType</h5>
                    <p class="card-text">@item.Hotel.Rating Star</p>
                    <p class="card-text">@item.Hotel.HotelName</p>
                    <p class="card-text">@item.Hotel.HotelAddress</p>
                    <p class="card-text">@item.Description</p>
                    <div class="days-container">
                        @{
                            DateTime currentDate = UniversalFilterValue.CheckIn;
                            while (currentDate < UniversalFilterValue.CheckOut)
                            {
                                <div class="days">
                                    <p>@currentDate.ToString("ddd") </p>
                                    <p>@currentDate.ToString("dd-MM-yy")</p>
                                    @{
                                        bool isBlackoutDate = item.BlackoutDates.Any(blackoutDate => blackoutDate.Date.Date == currentDate.Date);
                                        if (!isBlackoutDate)
                                        {
                                            var totalRate = 0.0m;
                                            @foreach (var dateRange in item.DateRanges)
                                            {
                                                if (currentDate.Date >=  dateRange.DateFrom.Date && currentDate.Date < dateRange.DateTo.Date)
                                                {
                                                    var rate = GetRate(UniversalFilterValue.Adult, UniversalFilterValue.Child, dateRange);
                                                    totalRate += decimal.Parse(rate);
                                                    <p class="card-text"><small class="text-muted">@rate /-</small></p>                                                    

                                                }
                                            }

                                            total += totalRate;
                                        }
                                        else
                                        {
                                            <p>N/A</p>
                                        }
                                    }
                                </div>
                                currentDate = currentDate.AddDays(1);
                            }
                        }
                    </div>

                </div>

                <div class="block3">
                    <p>Total Amount</p>
                    <p>@total Rs</p> 
                    @{
                        total = 0;
                    }
                    <button>Contact Us</button>
                </div>

            </div>
        </div>
    }


</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
