@model IEnumerable<HotelReservation.Models.DTO.HotelRoomModel>

@{
    ViewData["Title"] = "HotelRoomDetails";

}

<h1>HotelRoomDetails</h1>


<p>
    <a asp-action="AddRoomDisplay" asp-route-id="@ViewData["HotelId"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomImage)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
             
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="~/images/RoomImages/@item.RoomImage" alt="not found" width="200px"/>
                </td>

                <td>
                    <a class="btn btn-primary" asp-route-id="@item.RoomId" role="button" asp-controller="Hotel" asp-action="EditRoomDisplay">Edit</a> |
                    <a class="btn btn-primary" asp-route-id="@item.RoomId" role="button" asp-controller="Hotel" asp-action="RoomsPriceDetail">RoomPrice</a> |
                    <button class="btn btn-danger delete-room" room-id="@item.RoomId">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@* <!-- Load jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multidatespicker/1.6.6/jquery-ui.multidatespicker.js"></script>
<!-- Load jQuery UI CSS -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> *@
<script src="~/js/HotelRoom.js"></script>
