@model IEnumerable<HotelReservation.Models.DTO.RoomDateRangeModel>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration


@{
    ViewData["Title"] = "RoomsPriceDetail";
}
<style>
    .custom-color {
        background-color: black;
        opacity: 1 !important;
    }

    #blackoutDates {
        display: none;
        position: absolute;
        margin: 20% 40%;
        width: 1px;
        height: 32px;
    }

    .FocusBlock{
        height:250px;
        width:250px;
        position:absolute;
        margin:50% 50%;
        background-color:antiquewhite:

    }

</style>

<h1>RoomsPriceDetail</h1>
<p>
    <a asp-action="AddRoomPriceDisplay" asp-route-id="@ViewData["RoomId"]">Create New</a>
</p>

<div id="blackoutDates" >
    <input type="hidden" id="roomId" value="@ViewData["RoomId"]" />

    <input id="datepicker" type="text" />
    <button id="submitBtn">Submit</button>
    <button id="removeBtn">Remove</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                BlackoutDates
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SingleRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoubleRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripleRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdultRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExceptionCase)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.DateFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTo)
                </td>
                <td>
                    <a href="#" data-roomId="@item.RoomId" class="showCalendar">
                        Show
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SingleRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoubleRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripleRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdultRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExceptionCase)
                </td>



                <td>
                    <a class="btn btn-primary" asp-route-id="@item.DateRangeId" role="button" asp-controller="Hotel" asp-action="EditRoomPrice">Edit</a> |
                    <button class="btn btn-danger deleteRoomPrice" date-range-id="@item.DateRangeId" role="button">Delete</button>

                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Load jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multidatespicker/1.6.6/jquery-ui.multidatespicker.js"></script>
<!-- Load jQuery UI CSS -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>
    var HotelApi = '@Configuration["HotelApiUrl"]';
</script>
<script src="~/js/HotelRoom.js"></script>

